.TodoSearch {
  margin: 4rem 0 2.5rem 0;
  border-radius: 0.5rem;
  flex: 1;
  width: 100%;
  padding: 0.7rem 0;
  color: var(--clr-gb-1);
}

body.light .TodoSearch {
  font-weight: var(--fw-bold);
}

.TodoSearch::placeholder {
  color: var(--clr-gb-5);
  font-weight: var(--fw-normal);
}

.TodoSearch:focus {
  outline-color: #61dafa;
}

.TodoSearch:disabled {
  opacity: 80%;
}
