:root {
    --ff-sans: "Josefin Sans", sans-serif;
    --base-font: 1.6rem;
    --fw-normal: 400;
    --fw-bold: 700;
    --img-bg: url("../../assets/images/bg-desktop-dark.jpg");
    --clr-primary: hsl(0, 0%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-page-bg: hsl(235, 21%, 11%);
    --clr-card-bg: hsl(235, 24%, 19%);
    --clr-blue: hsl(220, 98%, 61%);
    --clr-green: hsl(192, 100%, 67%);
    --clr-pink: hsl(280, 87%, 65%);
    --clr-gb-1: hsl(236, 33%, 92%);
    --clr-gb-2: hsl(234, 39%, 75%);
    --clr-gb-3: hsl(234, 11%, 52%);
    --clr-gb-4: hsl(237, 12%, 36%);
    --clr-gb-5: hsl(233, 14%, 35%);
    --clr-gb-6: hsl(235, 19%, 24%);
    --clr-box-shadow: hsl(0, 0%, 0%, 0.1);
    --clr-message: hsl(0, 0%, 100%);
  }
  
  /* CHANGE CUSTOM PROPERTIES WHEN LIGHT THEME */
  
  body.light {
    --img-bg: url("../../assets/images/bg-desktop-light.jpg");
    --clr-primary: hsl(243, 12%, 30%);
    --clr-message: hsl(0, 0%, 100%);
    --clr-page-bg: hsl(0, 0%, 98%);
    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-gb-1: hsl(240, 8%, 24%);
    --clr-gb-2: hsl(243, 12%, 30%);
    --clr-gb-3: hsl(252, 6%, 83%);
    --clr-gb-4: hsl(237, 10%, 64%);
    --clr-gb-5: hsl(252, 9%, 73%);
    --clr-gb-6: hsl(252, 21%, 94%);
  }
  
  /* RESETS */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    position: relative;
  }
  
  html,
  body {
    min-height: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    user-select: none;
  }
  
  /* BODY */
  
  body {
    font: var(--fw-normal) var(--base-font) var(--ff-sans);
    background: var(--clr-page-bg) var(--img-bg) no-repeat 0% 0% / 100vw 30rem;
    padding-top: 8rem;
    width: min(85%, 54rem);
    margin: auto;    
  }

  /* INPUT AND BUTTON */

input,
button {
  font: inherit;
  border: 0;
  background: transparent;
}

button {
  display: flex;
  user-select: none;
  padding: 0 5px;
}

input:focus,
button:focus {
  outline: 0;
}

label {
  display: none;
}

/* ALL ARE CARDS  */

.card {
    background-color: var(--clr-card-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9rem 2rem;
    gap: 2rem;
  }

  .message {
    color: var(--clr-message);
  }