/* HEADER'S CARD */

header.card {
  background: transparent;
  padding: 0;
  align-items: flex-start;
}

header.card h1 {
  color: var(--clr-white);
  letter-spacing: 1.3rem;
  font-weight: 700;
  font-size: calc(var(--base-font) * 2);
}
